@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic);

.header{
  z-index:1000;
  position:absolute;
  top:0;
  left:50%;
  width:100%;
  max-width:42rem;
  background-color:#1a1a1a;
  font-family:'Futura',Helvetica,Arial,sans-serif;
  padding:0 1rem;
  transform:translate(-50%,-106%);
  transform:translate(-50%,-3px);
  border:2px solid #4878b1;
}
  @media only screen and (min-width:40em) {
  .header {
    border-radius:6px;padding:0 2rem
  }
}
.header p{
  font-weight:500;
  text-align:center;
  color:#c9c9c9;
  font-size:12px;
  line-height:1.4;
}

@media only screen and (min-width:30em){
  .header p{
  font-size:16px
  }
}

.header strong{
  color:#fff
}

.header p a{
  color:#c9c9c9;
}

.header p a:hover {
   cursor: help;
}

.header.show{
  transform:translate(-50%,-3px)
}

#wikidef {
  background-color:#1a1a1a;
  font-family:'Futura',Helvetica,Arial,sans-serif;
  color: #c9c9c9;
  position:absolute;
  top:16%;
  left:50%;
  width:90%;
  max-width:30rem;
  max-height:5rem;
  transform:translate(-50%,-50%);
  border-radius:6px;
  border:2px solid #4878b1;
  display:none;
  font-size:14px;
  text-align: center;
  z-index:1001;
}

#wikidef.show{
  display:block;
}

#extract{
  margin:0;background:rgba(27,27,33);
  font-family:'Futura',Helvetica,Arial,sans-serif;
  font-size:14px;
  line-height:1.65;
  line-height:1.5;
  padding:.75rem;
  width:300px;
  padding-right:2rem;
  position:fixed;
  bottom:0;
  left:50%;
  width:100%;
  color:#c9c9c9;
  /* display:none; */
  transform:translate(-50%,3px);
  z-index:1000;
  cursor:pointer;
  user-select:none;
}
#extract.is-center{
  text-align:center
}
#extract.show{
  display:block
}
@media only screen and (min-width:40em){
  #extract{
    border-radius:6px;
    max-width:21rem;
    padding-right:.75rem
  }
}
@media only screen and (min-width:70em){
  #extract{
    max-width:25rem
  }
}
#extract strong{
  font-weight:700;
  color:#ecd06b;
}
#extract a{
  border: none;
  vertical-align: middle;
  display: none;
  margin-left:0.5em;
  color: #ecd06b;
}
#extract a.show{
  display:inline;
  
}
#extract a i{
  height:14px;
  width:14px;
}

#extract .flaticon-x{
  position:absolute;
  bottom:.5rem;
  right:.5rem;
  width:1rem;
}
@media only screen and (min-width:40em){
  #extract .flaticon-x{
    display:none
  }
}

#creditButton{
  z-index:1001;
  position:absolute;
  top:1rem;
  right:0.5rem;
  background-color:#1b334b;
  color: #ecd06b;
  font-weight:500;
  line-height:1;
  width:2rem;
  height:2rem;
  border-radius:50%;
  border:2.25px solid #ecd06b;
  display:block;
  font-size:15px;
}
/* @media only screen and (min-width:50em){
  .btn--about{
    display:block
  }
} */

#credit {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(27,27,33,0.85);
  z-index: 1001;
  cursor: pointer;
  display: none;
}

#credit.show{
  display: block;
}

#credit--box{
  padding:1rem;
  background-color:#1a1a1a;
  font-family:'Futura',Helvetica,Arial,sans-serif;
  color: #c9c9c9;
  position:absolute;
  top:50%;
  left:50%;
  width:90%;
  max-width:30rem;
  transform:translate(-50%,-50%);
  border-radius:6px;
  border:2px solid #ecd06b;
  /* display:none; */
  font-size:16px;
  z-index:1001;
}

#credit--box a{
  color:#c9c9c9;
}